<style>
#terminal-container {
    height: auto;
}
</style>

<script src="https://cdn.jsdelivr.net/npm/xterm@4.13.0/lib/xterm.min.js"></script>

<div id="terminal-container" class="dialog">
    <div id="terminal-btn-container">
        <button id="terminal-close-btn">Close</button>
    </div>
    <div id="terminal"></div>
</div>