    <div id="rootdiv" class="container-center">

      <div id="loading-screen-div" class="loading-screen-div container-center">
        <img class="loading-screen-image" src="/static/sites/game-client/hat.svg">
        <div class="loading-screen-container">
          <ul id="loading-screen-text" class="loading-screen-text">
          </ul>
          <div class="loading-screen-footer">[0] 0: HITCON Online</div>
        </div>
      </div>

      <div id="avatar-selection-div" style="background-color: #000E26;" class="container-center">
        <div class="avatar-selection-background container-center-column">
          <div class="avatar-selection-title">Welcome to HITCON Online<br>Choose Avatar</div>
          <div id="avatar-preview-container" class="container-center"></div>
          <label class="avatar-display-name container-center">
            Display Name:
            <input id="display-name" type="text" name="display-name" class="avatar-display-name-text">
            <div class="tooltip">
              <img src="/static/sites/game-client/question-mark.svg" class="avatar-display-name-desc" alt="naming description">
              <span class="tooltip-text">
                暱稱將會顯示在公眾場合<br>
                不可使用冒犯他人的詞彙<br>
                詳細情形可查看<a href="https://hitcon.org/2021/coc/" target="_blank">大會行為守則</a>
              </span>
            </div>
          </label>
          <button name="submit" class="avatar-confirm-button">Join HITCON Online!</button>
        </div>
      </div>

      <div id="ruler-helper-div" class="ruler-helper">
        <span id="ruler-helper-text">Coord: </span>
      </div>

      <div id="staging-div">
        <!--
        This div is for stuff that's not yet being displayed.
        It is currently semi-transparent for debugging purpose.
        -->
        <div id="maprender-overlay">
          <canvas id="outofboundcanvas"></canvas>
          <canvas id="backgroundcanvas"></canvas>
          <canvas id="mapcanvas"></canvas>
          <canvas id="foregroundcanvas"></canvas>
          <canvas id="inputcanvas"></canvas>
          <div id="joystick-container">
            <!-- TODO: styling -->
            <div id="joystick-control-point-container">
              <div id="joystick-control-point"></div>
            </div>
            <div id="joystick-ghost-mode-button" class="container-center hoverable"><img src="/static/sites/game-client/input-manager/ghostmode.png"></div>
            <div id="joystick-game-button" class="container-center hoverable"><img src="/static/sites/game-client/input-manager/bomb.png"></div>
          </div>
        </div>
        <div id="error-modal">
          <div>
            <img src="/static/sites/game-client/warning.svg" alt="">
            <p id="error-message"></p>
          </div>
          <p id="error-handler-message"></p>
        </div>
        <% inDiv.forEach((i) => { %>
          <%- include(i); %>
        <% }); %>
      </div>

      <div class="notification notification--overlay notification--inactive" id="notification" onclick="game.mainUI.dismissNotification()">
        <div class="notification-type">遊戲通知</div>
        <div class="notification-text" id="notification-text"></div>
        <div class="notification-progress-bar" id="notification-progress-bar">
          <span style="width: 100%" id="notification-progress-bar-inner"></span>
        </div>
      </div>

      <div class="notification notification--overlay notification--card notification--inactive" id="npc">
        <div class="notification--npc--border"></div>
        <div class="notification--npc-type">
          <div class="notification--npc--avatar">
            <!-- TODO remove this <img> after implement avatar -->
            <img src="https://via.placeholder.com/53x72">
          </div>
          <div class="notification--npc--text">
            <div class="notification--npc--name" id="npc-name">NPC Name</div>
            <div class="notification--npc--usage">
              <!-- 按 <span>F</span> 跟 NPC 對話
              // Uncomment when keypress interaction for NPC is implemented.
              -->
              Click the NPC to interact. 點選NPC以互動。
            </div>
          </div>
        </div>
      </div>

      <div class="announcement announcement--overlay announcement--inactive" id="announcement">
        <div class="announcement-type">公告類別</div>
        <div class="announcement-gap"></div>
        <div class="announcement-marquee-container">
          <span class="announcement-marquee-inner announcement-text" id="announcement-text"></span>
        </div>
        <button class="announcement-close">X</button>
      </div>

      <!-- TODO add `collapse` in class toggle style for child element (close toolbar)-->
      <div class="utilpanel utilpanel--overlay collapse" id="utilpanel">
        <div class="utilpanel-tabs" id="utilpanel-tabs"></div>
        <button class="utilpanel-divider" id="utilpanel-divider">
          <span class="utilpanel-divider"><img src="/static/sites/game-client/triangle.svg"></span>
        </button>
       <div class="utilpanel-content" id="utilpanel-content">
        <div>
        <div class="utilpanel-viewer">setup information</div>
        <div class="utilpanel-actions">setup action here</div>
        </div>
       </div>
      </div>

      <div id="overlay-topleft" class="overlay overlay--inactive"></div>
      <div id="overlay-bottomleft" class="overlay overlay--inactive"></div>
      <div id="overlay-right" class="overlay overlay--inactive"></div>
      <div id="overlay-centertop" class="overlay overlay--inactive"></div>
      <div id="main-view"></div>
      <button id="exit-focus">Exit Fullscreen <img src="/static/sites/game-client/fullscreen-exit.svg" style="width: 1.5em; height: 1.5em;"></button>
      <!-- used to block out the rest of the stuffs when model is visible -->
      <div id="modal-background" class="modal-background"></div>
      <div id="modal-container" class="modal-container"></div>

      <!-- context menu -->
      <div class="context-menu" id="context-menu-other">
        <div class="context-menu-user">
          <img class="context-menu-picture" src="https://via.placeholder.com/56x61">
          <div class="context-menu-user-info">
            <div class="context-menu-user-name" id="context-menu-other-name"></div>
            <div class="context-menu-user-role" id="context-menu-other-role"></div>
          </div>
        </div>
        <div class="context-menu-actions" id="context-menu-other-actions"></div>
      </div>

      <div class="context-menu" id="context-menu-self">
        <div class="context-menu-user">
          <img class="context-menu-picture" src="https://via.placeholder.com/56x61">
          <div class="context-menu-user-info">
            <div class="context-menu-user-name" id="context-menu-self-name"></div>
            <div class="context-menu-user-role" id="context-menu-self-role"></div>
          </div>
        </div>
        <div class="context-menu-actions" id="context-menu-self-actions"></div>
      </div>

      <!-- User overlay -->
      <div id="user-overlay" class="user user--overlay">
        <div class="user-profile">
          <div class="user-name" id="user-name">Username</div>
          <div class="user-points">
            <span class="user-point" id="user-point">----</span>
            <span class="user-point-unit">P</span>
          </div>
        </div>
        <div class="user-actions">
          <button class="user-action" id="jitsi-microphone">
            <img src="" alt="microphone">
          </button>
          <button class="user-action" id="jitsi-camera">
            <img src="" alt="video">
          </button>
          <button class="user-action" id="jitsi-screen">
            <img src="" alt="screen">
          </button>
          <button class="user-action" id="items-inventory-btn">
            <img src="" alt="inventory">
          </button>
        </div>
      </div>
    </div>
