/* Code for ensuring rootdiv covers the entire screen. */
@import url('utilpanel.css');
@import url('user-info.css');
@import url('notification.css');

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rootdiv {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: blue;
  z-index: -10;
}

#mapcanvas {
  box-sizing: content-box;
}

#staging-div {
  opacity: 20%;
  background-color: red;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;

  /* We want to prevent overflow or scrollbar on the main page when
   * staging div gets big.
   */
  max-height: 80vh;
  max-width: 80vw;
  overflow: auto;
}

#map-render-overlay {
  border: 2px solid;
  width: 100%;
  height: 100%;
  /* We want to make sure that 100% width/height doesn't result in overflow. */
  box-sizing: border-box;
}

.overlay {
  background-color: Ivory;
  position: absolute;
  opacity: 85%;
  z-index: 5;
}

#overlay-topleft {
  top: 10%;
  left: 5%;
  width: 15%;
  height: 30%;
}

#overlay-bottomleft {
  bottom: 15%;
  left: 5%;
  width: 15%;
  height: 20%;
}

#overlay-right {
  top: 10%;
  right: 5%;
  width: 15%;
  height: 70%;
}

#overlay-centertop {
  top: 0;
  width: 80vw;
  height: 200px;
  left: 10vw;
}

#main-view {
  background-color: MintCream;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-background {
  position: absolute;
  background-color: Grey;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
}

.modal-background.visible {
  opacity: 80%;
  z-index: 100;
}

.modal-container {
  background-color: HoneyDew;
  position: absolute;
  z-index: 0;
  top: 25%;
  left: 20%;
  width: 60%;
  height: 50%;
}

.modal-container.visible {
  z-index: 110;
}

/* error-modal related style */
#error-modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#error-modal > div {
  width: 50%;
}

/* Context Menu */
.context-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1000;
  display: none;
}
.context-menu-list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
  padding: 3px 0;
  margin: 0;
  list-style: none;
}
.context-menu-list > li > a {
  border: 0;
  padding: 6px 15px 6px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: unset;
  color: #000;
  font-weight: 500;
  transition: 0.15s linear;
  box-sizing: border-box;
}
.context-menu-list > li > a:hover {
  background-color: #f1f3f7;
  color: #4b00ff;
}
