/* Code for ensuring rootdiv covers the entire screen. */
@import url('utilpanel.css');
@import url('user-info.css');
@import url('notification.css');
@import url('context-menu.css');
@import url('error-modal.css');
@import url('avatar-selection.css');
@import url('loading-screen.css');
@import url('intro-modal.css');

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  font-family: 'Noto Sans CJK TC', 'PingFang TC', 'Microsoft JhengHei UI', sans-serif;
}

.monospace {
  font-family: 'Fira Code SemiBold', 'Source Code Pro Medium', 'Consolas Bold', 'PT Mono Bold', 'Consolas', 'PT Mono', monospace;
}

.hoverable:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rootdiv {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: blue;
  z-index: -10;
}

#staging-div {
  opacity: 20%;
  background-color: red;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -10;

  /* We want to prevent overflow or scrollbar on the main page when
   * staging div gets big.
   */
  max-height: 80vh;
  max-width: 80vw;
  overflow: auto;
}

#maprender-overlay {
  width: 100%;
  height: 100%;
  /* We want to make sure that 100% width/height doesn't result in overflow. */
  box-sizing: border-box;
  /* disable overflow so that the oversized canvas can be center-aligned automatically */
  overflow: hidden;
  position: relative;
}

#maprender-overlay canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#mapcanvas {
  z-index: 3;
}

#backgroundcanvas {
  z-index: 2;
}

#outofboundcanvas {
  z-index: 1;
}

#foregroundcanvas {
  z-index: 4;
}

#inputcanvas {
  z-index: 5;
}

#joystick-container {
  position: absolute;
  z-index: 10;

  /* TODO: responsive size */
  box-sizing: border-box;
  width: 100px;
  height: 100px;

  /* position: the bottom-center of the whole map render */
  top: unset;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);

  /* The style */
  background-color: #fff4;
  border: 4px solid #fff8;
  border-radius: 50%;
}

#joystick-control-point {
  position: absolute;
  z-index: 11;
  transform: translate(-50%, -50%);

  /* TODO: responsive size */
  box-sizing: border-box;
  width: 50px;
  height: 50px;

  /* The style */
  background-color: #0003;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  opacity: 100%;
  z-index: 5;
}

.overlay--inactive {
  display: none;
}

#overlay-topleft {
  top: 10%;
  left: 5%;
  width: 15%;
  height: 30%;
}

#overlay-bottomleft {
  bottom: 15%;
  left: 5%;
  width: 20%;
  height: 20%;
}

#overlay-right {
  bottom: 10%;
  right: 5%;
  width: 15%;
  height: 60%;
}

#overlay-centertop {
  top: 3%; /* height of the notification bar */
  width: 80vw;
  height: 200px;
  left: 10vw;
}

#main-view {
  background-color: MintCream;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#rootdiv.focus-mode #main-view {
  left: 320px;
  width: calc(100vw - 320px);
}

#exit-focus {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  background: #1B2E5A 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 24px;
  opacity: 0.75;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0.5em;
  border-style: none;
  display: inline-flex;
  align-items: center;
}

#exit-focus:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#rootdiv:not(.focus-mode) #exit-focus {
  display: none;
}

.modal-background {
  position: absolute;
  background-color: #141414;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
}

.modal-background.visible {
  opacity: 80%;
  z-index: 100;
}

.modal-container {
  position: absolute;
  z-index: 0;
  top: 25%;
  left: 20%;
  width: 60%;
  height: 50%;
}

[data-clienttype=mobile] .modal-container {
  width: 80%;
  left: 10%;
}

.modal-container.visible {
  z-index: 110;
}

.ruler-helper {
  position: absolute;
  z-index: -300;
  right: 0;
  bottom: 0;
  background-color: red;
}

.ruler-helper-text {
  font-size: 5vh;
}
