/* Code for ensuring rootdiv covers the entire screen. */
html, body {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rootdiv {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: Azure;
}

#mapcanvas {
  border: 2px solid;
  box-sizing: content-box;
}
