.notification--overlay {
  position: absolute;
  bottom: 10%;
}

[data-clienttype=mobile] .notification--overlay {
  top: 5vh;
}

.notification {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000006E;
  border-radius: 16px;
  width: 565px;
  height: 111px;
  box-sizing: border-box;
  padding-top: 10px;
  color: #000000;
  z-index: 10; /* TODO tmp style, make toolbar visible */
  cursor: pointer;
}

[data-clienttype=mobile] .notification {
  width: 80vw;
  opacity: 0.95;
}

.notification--inactive {
  display: none;
}

.notification-npc--override {
  /* This class is added when the notification is active and we want to hide
   * the NPC hint. */
  display: none;
}

.notification-type {
  text-align: center;
  font: normal normal normal 15px/36px Noto Sans CJK TC;
}

.notification-text {
  text-align: center;
  font: normal normal normal 24px/36px Noto Sans CJK TC;
  margin-left: 1em;
  margin-right: 1em;
}

[data-clienttype=mobile] .notification-text {
  font-size: 1em;
}

.notification-progress-bar {
  height: 7px;
  margin: 0 2px;
}

.notification-progress-bar > span {
  display: block;
  height: 100%;
  border-bottom-left-radius: 10px;
  background-color: #1465FF;
  overflow: hidden;
  --animation-time: 5s;
}

[data-clienttype=mobile] .notification-progress-bar > span {
  background: #0D0D0D;
}



.notification-progress-bar > span[style="width: 100%"] {
  border-bottom-right-radius: 10px;
}

.notification-progress-bar--active > span{
  animation-duration: var(--animation-time);
  animation-name: progress-bar;
}

@keyframes progress-bar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.announcement--overlay {
  position: absolute;
  top: 65px;
}

.announcement {
  display: flex;
  background: #FFF;
  box-sizing: border-box;
  width: 565px;
  padding: 7px 17px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000062;
  border-radius: 52px;
  opacity: 70%; /* TODO tmp style, see things under toolbar */
  z-index: 15; /* TODO tmp style, make toolbar visible */
}

.announcement--inactive {
  display: none;
}

.announcement-type {
  white-space: nowrap;
  text-align: center;
  font: normal normal normal 16px/40px Noto Sans CJK TC;
  color: #FFFFFF;
  background: #000462 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #0000005A;
  border-radius: 24px;
  padding: 0px 15px;
}

.announcement-gap {
  width: 0.7em
}

.announcement-marquee-container {
  flex-grow: 10;
  overflow: hidden;
}

.announcement-marquee-inner {
  position: relative;
  display: inline-block;
  /* Variable updated by JS to compensate for longer text. */
  --animation-time: 5s;
}

.announcement-marquee-inner--active {
  animation: announcement-marquee var(--animation-time) linear infinite;
}

@keyframes announcement-marquee {
  0% {
    /* left border of the text is exactly at the right most end of the parent div */
    left: 100%;
    transform: translateX(0%);
  }
  100% {
    /* right border of the text is exactly at the left most end of the parent div */
    left: 0%;
    transform: translateX(-100%);
  }
}

.announcement-text {
  font: normal normal bold 16px/40px Noto Sans CJK TC;
  color: #000000;
  white-space: nowrap;
}

[data-clienttype=mobile] .announcement-text {
  font-size: 1em;
}

.announcement-close {
  background: none;
  border: none;
}

.notification--card {
  overflow: hidden;
  width: fit-content;
  padding: 20px 30px 0 30px;
}

[data-clienttype=mobile] .notification--card {
  width: 80vw;
}

.notification--npc-type {
  position: relative;
  display: flex;
  overflow: hidden;
}

[data-clienttype=mobile] .notification--npc-type {
  justify-content: space-between;
  align-items: center;
}

.notification--npc--border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #1465FF;
}

[data-clienttype=mobile] .notification--npc--border {
  height: 7px;
  background: #0D0D0D;
}


.notification--npc--avatar {
  width: 53px;
  height: 72px;
  margin-right: 20px;
}

[data-clienttype=mobile] .notification--npc--avatar {
  margin: 0;
  height: unset;
}

.notification--npc--avatar > img {
  width: 100%;
  vertical-align: middle;
}

.notification--npc--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notification--npc--name {
  font-size: 18px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

[data-clienttype=mobile] .notification--npc--name {
  font-size: 1em;
  font-weight: bolder;
}

.notification--npc--usage {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

.notification--npc--usage span {
  color: #fff;
  background: #1465FF;
  border-radius: 4px;
  box-shadow: 0px 2px 4px #000000;
  padding: 1px 5px;
}

[data-clienttype=mobile] .notification--npc--usage {
  font-size: 0.8em;
}
