.utilpanel--overlay {
  position: absolute;
  top: 65px;
  left: 65px;
}

.utilpanel {
  display: flex;
  flex-direction: column;
  background: rgba(16, 24, 56, 1);
  border-radius: 24px;
  padding: 20px 0;
  color: #FFF;
  width: 378px;
  opacity: 100%;
  z-index: 10; /* TODO tmp style, make utilpanel visible */
}

#rootdiv.focus-mode .utilpanel {
  top: 0;
  left: 0;
  opacity: 1;
  width: 320px;
  height: 100vh;
  border-radius: 0;
  box-sizing: border-box;
}

.utilpanel-tabs {
  display: flex;
  justify-content: center;
  margin: 0 21px;
  padding-bottom: 20px;
}

.utilpanel-button {
  width: 102px;
  height: 66px;
  border-radius: 12px;
  background: none;
  border: none;
  box-sizing: border-box;
}

.utilpanel-button > div {
  width: 100%;
  height: 100%;
  padding: 1px 6px;
  border-radius: 12px;
  background: none;
  border: none;
  box-sizing: border-box;

  /* Vertical and horizontal centering for the img */
  align-items: center;
  display: flex;
  justify-content: center;
}

.utilpanel-button.active, .utilpanel-button > input:checked + div {
  background: rgba(72, 89, 149, 1);
}

.utilpanel-button img {
  width: 40px;
  height: 26px;
}

.utilpanel-button > input, .utilpanel-divider-label > input {
  /* Hide the actual radio button. */
  visibility: hidden;
  position: absolute; /* Doesn't take up space. */
}

.utilpanel-content {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  margin-top: 15px;
}

.utilpanel-viewer {
  background: rgba(73, 86, 114, 1) 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.82);
  border-radius: 21px;
  padding: 15px;
  min-height: 30vh;
  height: 100%;
}

.utilpanel-divider {
  display: flex;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 3px;
  background: none;
  border: none;
}

.utilpanel-divider img {
  transform: rotate(180deg);
}

.utilpanel-divider span {
  position: relative;
}

.utilpanel-divider span::after,
.utilpanel-divider span::before {
  content: "";
  position: absolute;
  border-top: 1px solid white;
  width: 130px;
}

.utilpanel-divider span::before {
  right: 100%;
  margin-right: 15px;
  margin-top: 10px;
}

.utilpanel-divider span::after {
  left: 100%;
  margin-left: 15px;
  margin-top: 10px;
}

.utilpanel.collapse {
  padding-bottom: 0px;
}

.utilpanel.collapse .utilpanel-divider {
  /* utilpanel-content close */
  border-radius: 0 0 24px 24px;
  background: rgba(53, 70, 139, 1);
}

.utilpanel.collapse .utilpanel-divider img {
  transform: none;
}

.utilpanel.collapse .utilpanel-divider span::before,
.utilpanel.collapse .utilpanel-divider span::after {
  border-top: 0px solid white;
}


.utilpanel.collapse > .utilpanel-content {
  display: none;
}

.utilpanel-actions {
}
