<style>
  #iframe-overlay {
    display: flex;
    height: 100%;
  }

  #rootdiv.focus-mode #iframe-overlay {
    background-color: black;
  }

  #iframe-overlay iframe {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .iframe-aspect-ratio-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin: auto;
  }

  #rootdiv.focus-mode #iframe-overlay iframe {
    border: 0;
  }

  #rootdiv.focus-mode #iframe-expand {
    display: none;
  }

  #iframe-expand {
    position: absolute;
    top: 0;
    right: 0;
    background: #0658B7 0% 0% no-repeat padding-box;
    border-radius: 14px;
    border-style: none;
    color: white;
    display: inline-flex;
  }
</style>

<div id="iframe-overlay">
  <div class="iframe-aspect-ratio-container">
    <iframe src="" allowfullscreen></iframe>
    <button id="iframe-expand">Fullscreen <img src="/static/sites/game-client/fullscreen.svg" style="width: 1.5em; height: 1.5em;"> </button>
  </div>
</div>
