<style type="text/css">
  #playerlist span {
    margin: 5px;
  }
</style>

<div id="playerlist-overlay">
  <h2>Player List</h2>
  <!-- Use onchange callback to deal with it -->
  <input type="text" id="searchPlayer">
  <div id="playerlist">

  </div>
</div>
