<style type="text/css">
  #message_to{
    width: 100px;
  }
</style>

<div id="chat-overlay">
<div>
  To: <input type="text" id="message_to" placeholder="Broadcast">
  Msg: <input type="text" id="chat_message">
</div>
<div id="message_history">
  <h3>Message History:</h3>
</div>
</div>
