<script src='https://meet.jit.si/external_api.js'></script>
<style>
#meet-iframe {
  background-color: FloralWhite;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 10px;
  right: 10px;
}
</style>
<div id='meet-iframe'></div>
