<script src='https://meet.jit.si/libs/lib-jitsi-meet.min.js'></script>
<style>
#jitsi-container {
  position: absolute;
  top: 20%;
  bottom: 0px;
  right: 5%;
  z-index: 9;
}

#jitsi-remote-container {}
#jitsi-local-container {
  /* background-color: saddlebrown; */
}
.jitsi-audio {
  display: none;
}
.jitsi-local-video {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
.jitsi-remote-video {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
.jitsi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  opacity: 0.5;
}

.jitsi-container:hover, .jitsi-container:focus {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.jitsi-container--inactive {
  display: none;
}
.jitsi-remote-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  max-height: 400px;
  max-width: 250px;
  overflow-y: auto;
  flex-wrap: wrap;
}
.jitsi-local-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.jitsi-user-container {
  width: 214px;
  height: 161px;
  background: #101010 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  position: relative;
  margin-bottom: 25px;
  margin-left: 25px;

  /* The loading animation may spill out causing scrollbar. */
  overflow: hidden;
}

.jitsi-user-container:not(.active) {
  order: 100;
}
.jitsi-user-container.active > .jitsi-user-loading {
  display: none;
}
.jitsi-user-container.speaking {
  box-shadow: 0px 3px 14px #5CC11CE0 !important;
}

.jitsi-user-name {
  text-align: center;
  font-size: 12px;
  font-weight: border;
  letter-spacing: 0px;
  color: #FFFFFF;
  background: #3F487B 0% 0% no-repeat padding-box;
  border-radius: 18px;
  opacity: 1;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 21px;
}

.jitsi-user-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 10px;
  background: transparent url("/static/extensions/jitsi/common/icons/spinner-solid.svg") 0% 0% no-repeat padding-box;
  background-position: center;
  background-size: 28%;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.jitsi-user-video {
  width: 100%;
  height: 100%;
  position: absolute;
}

.jitsi-user-container.active > .jitsi-user-video--close {
  background: transparent url("/static/extensions/jitsi/common/icons/awesome-video-slash.svg") 0% 0% no-repeat padding-box;
  background-position: 50% 40%;
}
.jitsi-user-audio {
  width: 100%;
  height: 100%;
  position: absolute;
}
.jitsi-user-container.active > .jitsi-user-audio--close {
  background: transparent url('/static/extensions/jitsi/common/icons/awesome-microphone-alt-slash.svg') 0% 0% no-repeat padding-box;
  background-position: 95% 77%;
}
.jitsi-status-container > img {
  height: 20px;
  width: auto;
}
#jitsi-fullscreen-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent url("/static/extensions/jitsi/common/icons/awesome-video-slash.svg") 0% 0% no-repeat padding-box;
  background-position: 50% 40%;
}
#jitsi-fullscreen-overlay video {
  border-radius: 0;
  width: 95%;
  height: 95%;
}

#jitsi-modal {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 40px;
}

.jitsi-modal-title {
  font-size: 2em;
}

#jitsi-modal-close-btn {
  font-size: xx-large;
  position: absolute;
  right: 0;
  background: none;
  border-style: none;
  color: #707070;
  font-weight: bold;
}

#jitsi-modal-close-btn:hover {
  color: #000000;
}

.jitsi-modal-divider {
  border: 1px solid #0F0F0F;
  width: 100%;
  margin: 1.5em 0;
}

.jitsi-modal-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-grow: 10;
}

.jitsi-modal-container::-webkit-scrollbar {
  border-radius: 5px;
  background-color: #AEC1F7;
}

.jitsi-modal-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #00144B;
}

.jitsi-modal-container::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #AEC1F7;
}

.jitsi-modal-container > .jitsi-user-container {
  display: flex;
  flex-direction: row;
  margin: 1em 2em 1em .5em;
  padding: 1em;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #1E378972;
  border-radius: 16px;
  width: auto;
  align-items: center;
}

.jitsi-modal-container .jitsi-user-loding,
.jitsi-modal-container .jitsi-user-video {
  position: absolute;
  width: 50%;
}
.jitsi-modal-container .jitsi-user-audio {
  position: relative;
}

.jitsi-modal-container .jitsi-user-name {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  color: #000;
}

#jitsi-others-btn {
  background: #0658B7 0% 0% no-repeat padding-box;
  border-radius: 14px;
  width: 85%;
  border-style: none;
}

#jitsi-others-btn img{
  vertical-align: middle;
  padding: .25em 0;
}

</style>
<div class="jitsi-container jitsi-container--inactive" id='jitsi-container'>
  <div class='jitsi-local-container' id='jitsi-local-container'>
    <div class='jitsi-user-container' id='jitsi-local'></div>
  </div>
  <div class='jitsi-remote-container' id='jitsi-remote-container'>
  </div>
    <button id="jitsi-others-btn">
      <img src="/static/sites/game-client/triangle.svg">
    </button>
</div>

<div id='jitsi-fullscreen-overlay'></div>

<div id="jitsi-modal">
  <div class="jitsi-modal-title">Other Participants <button id="jitsi-modal-close-btn">×</button></div>
  <hr class="jitsi-modal-divider" />
  <div class="jitsi-modal-container" id="jitsi-modal-container">
  </div>
</div>
