<style>
  .dialog {
    background: rgb(245, 237, 237);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 5px 10px;
    border: gray solid 3px;
    height: 100%;
    width: 100%;
  }
  #dialog-subject {
    background: white;
    width: 50%;
    margin: 1vh 1vw 1vh 1vw;
    border: gray solid 3px;
    padding: 3px;
  }
  #dialog-msg {
    background: white;
    margin: 1vh 1vw 1vh 1vw;
    border: gray solid 3px;
    padding: 3px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    flex-grow: 10;
  }
  #dialog-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  .button {
    margin-left: 5px;
  }
</style>

<div>
  <button id="c2sButton">get dialog</button>
</div>

<div id="dialog-div" class="dialog">
  <h3 id="dialog-subject"></h3>
  <p id="dialog-msg"></p>
  <div id="dialog-btn-container">
    <!-- <button id="button">OK</button> -->
  </div>
</div>
