<style>
  .dialog {
    display: flex;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: #2D365C;
    padding: 34px;
    width: 100%;
  }

  .dialog-img {
    background-color: #FFFFFF;
    border-radius: 22px;
    box-sizing: border-box;
    width: 210px;
    height: 231px;
    display: flex;
    overflow: hidden;
  }

  .dialog-img > img {
    margin: auto;
    display: block;
  }

  .dialog-left {
    display: none; <!-- TODO remove if image use -->
    margin-right: 55px;
  }

  .dialog-right {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .dialog-subject {
    color: #FFF;
    padding: 3px;
    font-size: 24px;
    max-width: 231px;
    margin: 0;
    margin-bottom: 1em;
  }

  .dialog-msg {
    flex-grow: 1;
    box-sizing: border-box;
    background: white;
    border-radius: 22px;
    padding: 23px;
    max-height: 297px;
    overflow: auto;
    word-break: break-word;
  }

  .dialog-msg img {
    max-width: 100%;
  }

  #dialog-btn-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1em;
    margin-bottom: 2em;
    display: none;
    flex-direction: row;
    justify-content: right;
  }

  #dialog-btn-container > button {
    background: #384564 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #00000033;
    border-radius: 40px;
    color: #fff;
    padding: 5px 15px;
  }

  #dialog-btn-container.visible {
    display: flex;
  }

  .dialog-choice-entry {
    color: blue;
  }

  .dialog-choice-entry:hover {
    text-decoration: underline;
  }

  .button {
    margin-left: 5px;
  }

</style>

<div>
  <button id="c2sButton">get dialog</button>
</div>

<div id="dialog-div" class="dialog">
  <div class="dialog-left">
    <div class="dialog-img">
      <img src="https://via.placeholder.com/137x186">
    </div>
    <h3 class="dialog-subject"></h3>
  </div>
  <div class="dialog-right">
    <h3 class="dialog-subject" id="dialog-subject"></h3>
    <div class="dialog-msg" id="dialog-msg"></div>
    <div id="dialog-btn-container">
      <!-- <button id="button">OK</button> -->
    </div>
  </div>
</div>
